<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{ site.data.settings.basic_settings.favicon_image }}">
	<link rel="stylesheet" href="/css/style.css">

	{% seo %}
	{% feed_meta %}
	{% if page.featured_image %}
	<meta property="og:image" content="{{ page.featured_image | absolute_url }}">
	<meta name="twitter:image" content="{{ page.featured_image | absolute_url }}">
	{% endif %}
</head>

<body>

	{% include header.html %}

	<div class="page">
		<div class="page__content">
			{{ content }}
		</div>
	</div>

	{% include footer.html %}
</body>
</html>